.container
  %h1 Edit Impression for #{@production.company} production of #{@production.play.title}
  %br
  = link_to 'Instructions for using Markdown to lay out your impression', 'https://daringfireball.net/projects/markdown/basics'
  %br
  = form_for @impression do |f|
    = f.label :title
    %br
    = f.text_field :title, placeholder: 'Title', size: 40
    %br
    = f.label :body
    %br
    = f.text_area :body, placeholder: 'Body', cols: 140, rows: 15
    %br
    = f.hidden_field :production_id, :value => @production.id
    %br
    = f.hidden_field :user_id, :value => current_user.id
    = f.submit 'Save and Parse'