.container

  %h1 Production of #{@play.title} by #{@production.company}
  %h2= markdown @impression.title 
  %br
  - if policy(@impression).update?
    = link_to 'Edit', edit_impression_path(:id => @impression.id)
  - if policy(@impression).destroy?
    = link_to 'Delete', {:id => @impression.id, :action => 'destroy'}, :method => :delete, data: {confirm: 'Do you want to delete this impression?'}
  %br
  %h3= @production.company

  %p= markdown @impression.body

  .row
    .col-md-6

      %h3 Comments

      - @comments.each do |com|
        = markdown com.body
        %br
    .col-md-6
      - if policy(Comment.new).create?
        = form_for Comment.new do |f|
          = f.label 'Add Comment'
          %br
          = f.text_area :body, placeholder: 'Comment', cols: 50, rows: 3
          %br
          = f.hidden_field :impression_id, :value => @impression.id
          %br
          = f.submit "Save and Parse"


