.container
  %h2 Edit Your Information
  .row
    .col-md-8
      %h3 Change email or password
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f|
        = devise_error_messages! 
        .form-group
          = f.label :email 
          %br
          = f.email_field :email, class: 'form-control', placeholder: 'Enter Email' 
          - if devise_mapping.confirmable? && resource.pending_reconfirmation? 
            .form-group
              Waiting for confirmation for: 
              = resource.unconfirmed_email 

        .form-group
          = f.label 'Password (leave blank unless you want to change it)'  
          = f.password_field :password, class: 'form-control', placeholder: 'Enter password'
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter password confirmation'
        .form-group
          = f.label 'Password (we need your current password to confirm your changes)'
          = f.password_field :current_password, class: 'form-control', placeholder: 'Enter password', autocomplete: "off" 
        .form-group
          = f.submit 'Update', class: 'btn btn-success'
            
      %h3 Edit personal information
      = form_for(current_user) do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control', placeholder: 'Enter name', autofocus: true
        - if current_user.avatar?
          .form-group
            %p Current avatar
            = image_tag(current_user.avatar.profile.url)
        .form-group
          = f.label :avatar
          = f.file_field :avatar 
          = f.hidden_field :avatar_cache 
  
        .form-group
          = f.submit 'Update', class: 'btn btn-success'

      %h3 Cancel my account
      .form-group
        = button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger'

