.container

  %h1 New Comment for Impression "#{@impression.title}"

  = form_for @comment do |f|
    %br
    = f.text_area :body, placeholder: 'Type your comment here', cols: 100, rows: 5
    %br
    = f.hidden_field :impression_id, :value => @impression.id
    %br
    = f.submit 'Save'