.container.plays
  .row
    .col-md-7
  
      %h1= @play.title

      %p= @play.body

      -if current_user
        = link_to 'Add Production', new_production_path(play_id: @play.id), class: 'btn btn-success'
        
      %h3 Productions

      - @productions.each do |production|
        = link_to production.company, production
        %br
        = production.city
        ,
        = production.state
        %br
        = production.date_opened
        %br
        %br
    .col-md-5
      .playimage[@play]