%h1= @play.title

-if current_user
  = link_to 'Add Production', new_production_path(play_id: @play.id)

%p= @play.body

- @productions.each do |production|
  = link_to production.company, production_path(play_id: @play.id)
  %br
  = production.city
  ,
  = production.state
  %br
  = production.date_opened
  %br
  - if policy(production).update?
    = link_to 'Edit', edit_production_path(id: production.id)
  - if policy(production).destroy?
    = # link_to 'Delete', {:id => production.id, :controller => 'productions_controller', :action => 'destroy'}, :method => :delete, data: {confirm: 'Do you want to delete this production?'}
  %br