.container
  %h1 User profile for #{@user.name || @user.email}
  
  %h2 Impressions
  - @impressions.each do |imp|
    %h4= link_to imp.title, imp
    %p= imp.body 
  %br
    
  %h2 Comments
  - @comments.each do |com|
    = link_to 'See Comment in context', com.impression
    %p= com.body