.container  
  .row
    .col-xs-6.prodlist
      %h1 Production of #{@play.title}
      %h3 Company: #{@production.company}
      %h3 Date Opened: #{@production.date_opened}
      %h3 Location: #{@production.city}, #{@production.state}
      .col-xs-3
        - if policy(Impression.new).create?
          = link_to 'Add Impression', new_impression_path(:production_id => @production.id), class: 'btn btn-success'
      .col-xs-3
        =link_to 'Back to Play', play_path(id: @production.play_id)
      .col-xs-3
        - if policy(@production).update?
          = link_to 'Edit Production', edit_production_path(id: @production.id)
      .col-xs-3
        - if policy(@production).destroy?
          = link_to 'Delete Production', {:id => @production.id, :action => 'destroy'}, :method => :delete, data: {confirm: 'Do you want to delete this production?'}
      %br
      %br
      %h3 Impressions

      - @impressions.each do |imp|
        %p= link_to (markdown imp.title), imp
        %small
          = image_tag(imp.user.avatar.tiny.url) if imp.user.avatar?
          submitted
          = time_ago_in_words(imp.created_at)
          ago by
          = link_to((imp.user.name || imp.user.email), imp.user)
          %br
          = imp.comments.count
          comments

    .col-xs-6.prodimages
      %h3 Images 
      .italic (click on the thumbnail to see a larger version)
      %br
      .italic To add an image for this production (say, a photo of the PlayBill, of the set, or of an actor taken after the show, or perhaps a photo from a local review of the production), please add an impression of your own and then add as many images as you like to that impression.
      - if @production.images.exists?  
        - @production.images.each do |pic|
          .impimage
            = link_to image_tag(pic.location.thumb.url), pic
            %br
            %h5= pic.name
            %small
              submitted by #{pic.user.name}
              - if policy(pic).destroy?
                = link_to 'Delete', image_path(pic), :method => :delete, data: {confirm: 'Do you want to delete this image?'}
      .clear &nbsp

