%h1 Production of #{@play.title}

%h3 Company: #{@production.company}
%h3 Date Opened: #{@production.date_opened}
%h3 Location: #{@production.city}, #{@production.state}

- if policy(Impression.new).create?
  = link_to 'Add Impression', new_impression_path, class: 'btn btn-success'
%br
%br

- @impressions.each do |imp|
  = link_to (markdown imp.title), imp
  %br