%h1 New Image for #{@impression.title}

= form_for @image do |f|
  .form-group
    = f.label :name
    = f.text_field :name, placeholder: 'Name'

  .form-group
    = f.label :image
    = f.file_field :location
    = f.hidden_field :location_cache 
  %br
    = f.hidden_field :impression_id, :value => @impression.id
  %br
  = f.submit 'Submit'