!!!
%html
%head
  %title Ellen's Theatre Community
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
  = javascript_include_tag "application", "data-turbolinks-track" => true 
  = csrf_meta_tags 

%body

  %ul
    %li
      = link_to "Home", welcome_index_path
    %li
      = link_to "About", welcome_about_path

  = yield

